asgiref 
certifi 
cffi
charset-normalizer 
cryptography
defusedxml
Django
django-admin-interface 
django-colorfield
django-cors-headers 
django-dark 
django-oauth-toolkit
djangorestframework
drf-social-oauth2
gunicorn
idna
jwcrypto
oauthlib
packaging
pillow
psycopg2-binary
pycparser
PyJWT
python-decouple 
python-dotenv
python-environ
python-slugify
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
text-unidecode
typing_extensions
tzdata
urllib3
weasyprint
