asgiref
certifi
charset-normalizer
Django
django-admin-interface
django-colorfield
django-cors-headers
django-dark
djangorestframework
gunicorn
idna
packaging
pillow
psycopg2-binary
python-decouple
python-environ
python-slugify
pytz
sqlparse
text-unidecode
tzdata
urllib3
