APP_CLIENT_ID="Up0UOG7C4alQuVSYxnH0F2FzAcmWkHcdauGwhAs9"
APP_CLIENT_SECRET="ndMglTkWgWisRopbLVgo05Nn2vNosmHXWzO2ajHGKLMRRKd9bgePfwdXTO4Tm5xxgTehXPfeDeTDhL2Q7msQnW1FsFJPyvN5cWzRKzDkHEFeAjDZiIwEQvsTzXpYdHIz"
APP_GOOGLE_CLIENT_ID="140566647837-8vteo7kq4i7rcb1p8vhecd5u00520u5s.apps.googleusercontent.com"


BASE_API_URL=http://localhost:8989/api/v1/