{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}" />
{% endblock %}

{% block content %}
<div>
  {% if inline_admin_formsets %}
    {% for inline_admin_formset in inline_admin_formsets %}
      {% if inline_admin_formset.formset.model._meta.model_name == "profile" %}
        <h2>Profile Picture</h2>
        {{ inline_admin_formset.forms.0.profile_picture_display }}
      {% elif inline_admin_formset.formset.model._meta.model_name == "company_profile" %}
        <h2>Company Profile Picture</h2>
        {{ inline_admin_formset.forms.0.company_profile_picture_display }}
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
  {{ block.super }}
{% endblock %}
